.container{:style => "margin-top: 37px;"}
  %h1 Posts
  .card
    .card-header{"data-background-color" => "blue"}
      %h4.title List of Entries
      %p.category latest entries 

    .card-content.table-responsive.table-full-width
      %table.table
        %thead
          %tr
            %th.bold Employe ID
            %th.bold Date
            %th.bold Employee
            %th.bold Rationale
            %th
            %th
           
        %tbody
          = render @posts
           
